.search-bar-container {
  display: flex;
  align-items: flex-end;

}

.search-input {
  padding: 8px 12px;
  border-radius: 20px;
  border: none;
  outline: none;
  font-size: 14px;
  width: 200px;
  transition: all 0.3s ease;
}

.search-input:focus {
  width: 250px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.search-input::placeholder {
  color: #aaa;
}
